megalinter-reports
megalinter-reports/*
*.log
megalinter-reports/updated_sources/megalinter-reports/megalinter.log
megalinter-reports/linters_logs/ERROR-TYPESCRIPT_ES.log
megalinter-reports/megalinter.log
