*.log
megalinter-reports/updated_sources/megalinter-reports/megalinter.log
megalinter-reports/linters_logs/ERROR-TYPESCRIPT_ES.log
megalinter-reports/megalinter.log
lanternApi/bin/
lanternApi/obj/
lanternApi/.vs/
megalinter-reports
lantern.api/bin/
lantern.api/obj/
lantern.api/.vs/
lantern.tests/bin/
lantern.tests/obj/
lantern.tests/.vs/
